press-nht-node-red-flows.json
[{"id":"9e2d2053a48a234e","type":"tab","label":"broker","disabled":false,"info":"","env":[]},{"id":"ac8df6a2f832579a","type":"tab","label":"A01","disabled":false,"info":"","env":[]},{"id":"2134dabfd8605b99","type":"tab","label":"A02","disabled":false,"info":"","env":[]},{"id":"a986efc4e1234b24","type":"tab","label":"A03","disabled":false,"info":"","env":[]},{"id":"6745c5ecef50435a","type":"tab","label":"A04","disabled":false,"info":"","env":[]},{"id":"f03f85537791faa9","type":"tab","label":"A05","disabled":false,"info":"","env":[]},{"id":"67727143c8187d09","type":"tab","label":"A06","disabled":false,"info":"","env":[]},{"id":"20ded1bb56a19c1b","type":"tab","label":"A07","disabled":false,"info":"","env":[]},{"id":"28e5a87647c181f1","type":"tab","label":"A08","disabled":false,"info":"","env":[]},{"id":"fa368886315aa61a","type":"tab","label":"A09","disabled":false,"info":"","env":[]},{"id":"1f72e495356afd6e","type":"tab","label":"A10","disabled":false,"info":"","env":[]},{"id":"ed9e1aa79750bbf4","type":"tab","label":"A11","disabled":false,"info":"","env":[]},{"id":"f1470890093fdd30","type":"tab","label":"A12","disabled":false,"info":"","env":[]},{"id":"3528a5c381c41071","type":"tab","label":"A13","disabled":false,"info":"","env":[]},{"id":"d0a1da4b48d0ab34","type":"tab","label":"A14","disabled":false,"info":"","env":[]},{"id":"1597307a44f351df","type":"tab","label":"A15","disabled":false,"info":"","env":[]},{"id":"74a601364754c3b9","type":"tab","label":"A16","disabled":false,"info":"","env":[]},{"id":"9e1b5b6bda85733b","type":"tab","label":"A17","disabled":false,"info":"","env":[]},{"id":"f17aa22c51407219","type":"tab","label":"A18","disabled":false,"info":"","env":[]},{"id":"9342557e527f8584","type":"tab","label":"A19","disabled":false,"info":"","env":[]},{"id":"766ee5f039c837c9","type":"tab","label":"A20","disabled":false,"info":"","env":[]},{"id":"22bd1f97465d609d","type":"tab","label":"A21","disabled":false,"info":"","env":[]},{"id":"8845bed55e4dbb8b","type":"mqtt-broker","name":"","broker":"192.168.100.50","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"86fa0ddeda74d3d5","type":"mqtt-broker","name":"","broker":"192.168.228.171","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"407a01e4.6b637","type":"mqtt-broker","name":"","broker":"192.168.100.30","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"40ba33.7c1255cc","type":"mqtt-broker","name":"localhost","broker":"192.168.1.2","port":"1883","clientid":"","autoConnect":true,"usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"1","birthRetain":"true","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"1","closeRetain":"true","closePayload":"","closeMsg":{},"willTopic":"","willQos":"1","willRetain":"true","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"5d745a45.6fecd4","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c4c02a20.b21fb8","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"88a465566922e014","type":"mqtt-broker","name":"","broker":"192.168.100.31","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"a686846fa45a0056","type":"mqtt-broker","name":"","broker":"10.128.16.10","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"71fb5fd82da0e2f1","type":"mqtt-broker","name":"","broker":"192.168.100.31","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"174cf0aec8a44365","type":"mqtt-broker","name":"","broker":"192.168.1.2","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"f1b2272c.ff4888","type":"postgresdb","cfgname":"","hostname":"localhost","port":"5432","db":"machine_control","ssl":false},{"id":"f7417a6c7b36e27d","type":"MSSQL-UCGv2-CN","name":"UpdateToOut","server":"STAPN04\\SQLEXPRESS","port":"1433","encyption":false,"database":"machine_control","pool":"20","connectionTimeout":"16000","requestTimeout":"15000"},{"id":"08e7927ecff6e187","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"766c6f52656a21ef","type":"ui_link","name":"Link 7","icon":"open_in_browser","target":"newtab","order":7},{"id":"156ebf4aa5eb1cd7","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"d9047871.819818","type":"ui_tab","name":"Monitering","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"949dc02fc2dda560","type":"ui_tab","name":"Insert to SQL ","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d6d93077.445ea","type":"ui_tab","name":"Press Machine control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e4c0a3886b5def61","type":"ui_tab","name":"Tab 4","icon":"dashboard","order":4},{"id":"7fd8d5d.5fe872c","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"7973cfda55d37b47","type":"ui_group","name":"Default","tab":"156ebf4aa5eb1cd7","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6f7e1889.dd45e8","type":"ui_group","name":"Page_1","tab":"d9047871.819818","order":1,"disp":true,"width":"8","collapse":false},{"id":"c4daaef11f050501","type":"ui_group","name":"Group 1","tab":"d9047871.819818","order":1,"disp":true,"width":"16","collapse":false},{"id":"f1911b02.4247e8","type":"ui_group","name":"Device status","tab":"d6d93077.445ea","order":1,"disp":true,"width":"6","collapse":false},{"id":"7ac0042a.6ecd6c","type":"ui_group","name":"Material confirm","tab":"d6d93077.445ea","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6b461f5e137f48be","type":"ui_group","name":"MANUAL START","tab":"d6d93077.445ea","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"edbc9fa98925c6f9","type":"ui_group","name":"Node_Status","tab":"d6d93077.445ea","order":4,"disp":true,"width":"6","collapse":false},{"id":"f93efa9e5c516b69","type":"ui_group","name":"Group 1","tab":"e4c0a3886b5def61","order":1,"disp":true,"width":"6","collapse":false},{"id":"f363797e.716998","type":"ui_group","name":"Group 1","tab":"7fd8d5d.5fe872c","order":1,"disp":true,"width":6},{"id":"146acdaa7b30c82b","type":"serial-port","serialport":"COM46","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"2bc36872b9f3a671","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"da284db60cc63bff","type":"ui_tab","name":"Home5","icon":"dashboard","disabled":false,"hidden":false},{"id":"5575ef5210149c12","type":"aedes broker","z":"9e2d2053a48a234e","name":"","mqtt_port":1883,"mqtt_ws_bind":"port","mqtt_ws_port":"1885","mqtt_ws_path":"","cert":"","key":"","certname":"","keyname":"","persistence_bind":"memory","dburl":"","usetls":false,"x":330,"y":180,"wires":[[],[]]},{"id":"d06e97be03fde818","type":"debug","z":"ac8df6a2f832579a","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"e8c4ebd5fe39614c","type":"mqtt in","z":"ac8df6a2f832579a","name":"","topic":"A01/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["f717c5b8476ea2d9","9191f72e6aa5405a","bf33a8cb4053d6aa"]]},{"id":"f717c5b8476ea2d9","type":"switch","z":"ac8df6a2f832579a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["2afa17aa73ad3297"]]},{"id":"2afa17aa73ad3297","type":"mqtt out","z":"ac8df6a2f832579a","name":"","topic":"A01/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"f8400db441937b28","type":"mqtt in","z":"ac8df6a2f832579a","name":"return A01","topic":"A01/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["d06e97be03fde818","d1f303a8a1e74111","8d3daa644b3c87a2"]]},{"id":"05431a83828bf31b","type":"mqtt in","z":"ac8df6a2f832579a","name":"finish A01","topic":"A01/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["d6f3bbe93915707d","a091501d3bf635b1","0970e7143c33c327"]]},{"id":"d1f303a8a1e74111","type":"change","z":"ac8df6a2f832579a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["06e0bca0232760cd"]]},{"id":"06e0bca0232760cd","type":"mqtt out","z":"ac8df6a2f832579a","name":"","topic":"A01/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"d6f3bbe93915707d","type":"change","z":"ac8df6a2f832579a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["23a9b569d7460f98"]]},{"id":"23a9b569d7460f98","type":"mqtt out","z":"ac8df6a2f832579a","name":"","topic":"A01/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"a091501d3bf635b1","type":"debug","z":"ac8df6a2f832579a","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"9191f72e6aa5405a","type":"debug","z":"ac8df6a2f832579a","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"9ce5996b7b310fd4","type":"function","z":"ac8df6a2f832579a","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["3731809bf7071385"]]},{"id":"f239501da5e29994","type":"debug","z":"ac8df6a2f832579a","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"07d09f703ad99515","type":"debug","z":"ac8df6a2f832579a","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"41d831e021b515c5","type":"function","z":"ac8df6a2f832579a","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"bf33a8cb4053d6aa","type":"function","z":"ac8df6a2f832579a","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["d57d0807050f922b","9ce5996b7b310fd4"]]},{"id":"d57d0807050f922b","type":"debug","z":"ac8df6a2f832579a","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"09f6305a72d42244","type":"function","z":"ac8df6a2f832579a","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["6518a8000241c5cc"]]},{"id":"bb72436d0dc6c7ce","type":"debug","z":"ac8df6a2f832579a","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"f6d6e1215235acf9","type":"function","z":"ac8df6a2f832579a","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["de689699e0d73296"]]},{"id":"08b78c2ee42244b8","type":"debug","z":"ac8df6a2f832579a","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"3cdf363f586c307b","type":"inject","z":"ac8df6a2f832579a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A01/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["8d3daa644b3c87a2"]]},{"id":"8d3daa644b3c87a2","type":"function","z":"ac8df6a2f832579a","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["09f6305a72d42244"]]},{"id":"4243847fde10b208","type":"inject","z":"ac8df6a2f832579a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A01/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["bf33a8cb4053d6aa"]]},{"id":"0970e7143c33c327","type":"function","z":"ac8df6a2f832579a","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["f6d6e1215235acf9"]]},{"id":"bef2884eee13a7cb","type":"inject","z":"ac8df6a2f832579a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A01/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["0970e7143c33c327"]]},{"id":"3731809bf7071385","type":"MSSQL-UCGv2","z":"ac8df6a2f832579a","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["f239501da5e29994"]]},{"id":"6518a8000241c5cc","type":"MSSQL-UCGv2","z":"ac8df6a2f832579a","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["bb72436d0dc6c7ce"]]},{"id":"de689699e0d73296","type":"MSSQL-UCGv2","z":"ac8df6a2f832579a","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["08b78c2ee42244b8"]]},{"id":"3d28ff52a4051580","type":"debug","z":"2134dabfd8605b99","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"41023daeebba7dd7","type":"mqtt in","z":"2134dabfd8605b99","name":"","topic":"A02/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["00a98ad22d09232b","2909f0fdb4e30d3a","d6d9757c10cbb2ac"]]},{"id":"00a98ad22d09232b","type":"switch","z":"2134dabfd8605b99","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["00a12ddd8e6467d4"]]},{"id":"00a12ddd8e6467d4","type":"mqtt out","z":"2134dabfd8605b99","name":"","topic":"A02/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"b898d6d2e99c8b3b","type":"mqtt in","z":"2134dabfd8605b99","name":"return A02","topic":"A02/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["3d28ff52a4051580","c5bb264493308b96","6b2e8aef25145796"]]},{"id":"9bb16a411ca8857c","type":"mqtt in","z":"2134dabfd8605b99","name":"finish A02","topic":"A02/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["e814b2f5ce430b32","e7c3d7ea43806ad5","f4f9f6fd26690fb0"]]},{"id":"c5bb264493308b96","type":"change","z":"2134dabfd8605b99","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["7fd05f623a8ccde4"]]},{"id":"7fd05f623a8ccde4","type":"mqtt out","z":"2134dabfd8605b99","name":"","topic":"A02/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"e814b2f5ce430b32","type":"change","z":"2134dabfd8605b99","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["b94626823f05cfdd"]]},{"id":"b94626823f05cfdd","type":"mqtt out","z":"2134dabfd8605b99","name":"","topic":"A02/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"e7c3d7ea43806ad5","type":"debug","z":"2134dabfd8605b99","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"2909f0fdb4e30d3a","type":"debug","z":"2134dabfd8605b99","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"116a304c85b9db61","type":"function","z":"2134dabfd8605b99","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["e725cb99b6adc4dc"]]},{"id":"170c98c125649271","type":"debug","z":"2134dabfd8605b99","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"3a3fcf815ef2433b","type":"debug","z":"2134dabfd8605b99","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"7eeace65a9315a3a","type":"function","z":"2134dabfd8605b99","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"d6d9757c10cbb2ac","type":"function","z":"2134dabfd8605b99","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["c5fd35fc4c37cc08","116a304c85b9db61"]]},{"id":"c5fd35fc4c37cc08","type":"debug","z":"2134dabfd8605b99","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"e275e6a3a43aba12","type":"function","z":"2134dabfd8605b99","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["98363092d9a30d63"]]},{"id":"7b3bfc8725d82911","type":"debug","z":"2134dabfd8605b99","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"ec3efa0fa8b0c20e","type":"function","z":"2134dabfd8605b99","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["3eceb99bc4bc557a"]]},{"id":"52deb9d7bebb3337","type":"debug","z":"2134dabfd8605b99","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"45cbb3f77d244c6c","type":"inject","z":"2134dabfd8605b99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A02/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["6b2e8aef25145796"]]},{"id":"6b2e8aef25145796","type":"function","z":"2134dabfd8605b99","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["e275e6a3a43aba12"]]},{"id":"d2105d62cc88d551","type":"inject","z":"2134dabfd8605b99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A02/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["d6d9757c10cbb2ac"]]},{"id":"f4f9f6fd26690fb0","type":"function","z":"2134dabfd8605b99","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["ec3efa0fa8b0c20e"]]},{"id":"afd30442c663d70f","type":"inject","z":"2134dabfd8605b99","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A02/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["f4f9f6fd26690fb0"]]},{"id":"e725cb99b6adc4dc","type":"MSSQL-UCGv2","z":"2134dabfd8605b99","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["170c98c125649271"]]},{"id":"98363092d9a30d63","type":"MSSQL-UCGv2","z":"2134dabfd8605b99","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["7b3bfc8725d82911"]]},{"id":"3eceb99bc4bc557a","type":"MSSQL-UCGv2","z":"2134dabfd8605b99","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["52deb9d7bebb3337"]]},{"id":"891d3c2a356e521b","type":"debug","z":"a986efc4e1234b24","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"9c47decfbe22c448","type":"mqtt in","z":"a986efc4e1234b24","name":"","topic":"A03/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["149e5f7bb652f1ef","c233cde0c32a1bcf","79a25ba038a892c3"]]},{"id":"149e5f7bb652f1ef","type":"switch","z":"a986efc4e1234b24","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["7a129bdead382f7e"]]},{"id":"7a129bdead382f7e","type":"mqtt out","z":"a986efc4e1234b24","name":"","topic":"A03/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"92706928856a4c9f","type":"mqtt in","z":"a986efc4e1234b24","name":"return A03","topic":"A03/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["891d3c2a356e521b","b64ea7ff544cbfd4","477e9c594c63965e"]]},{"id":"f7e1e82e51033d9c","type":"mqtt in","z":"a986efc4e1234b24","name":"finish A03","topic":"A03/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["06cda08363cee512","d4b559a1ae998e99","db58f33ed60d2a82"]]},{"id":"b64ea7ff544cbfd4","type":"change","z":"a986efc4e1234b24","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["cee444d8deb6d01f"]]},{"id":"cee444d8deb6d01f","type":"mqtt out","z":"a986efc4e1234b24","name":"","topic":"A03/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"06cda08363cee512","type":"change","z":"a986efc4e1234b24","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["2c8d1ff331f4fc2d"]]},{"id":"2c8d1ff331f4fc2d","type":"mqtt out","z":"a986efc4e1234b24","name":"","topic":"A03/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"d4b559a1ae998e99","type":"debug","z":"a986efc4e1234b24","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"c233cde0c32a1bcf","type":"debug","z":"a986efc4e1234b24","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"f17d7a4d1e04c250","type":"function","z":"a986efc4e1234b24","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["cdf0b4cba58c47f9"]]},{"id":"31b526d58f1ba86a","type":"debug","z":"a986efc4e1234b24","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"1d133eb1e9496f3b","type":"debug","z":"a986efc4e1234b24","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"573eadc40b48acee","type":"function","z":"a986efc4e1234b24","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"79a25ba038a892c3","type":"function","z":"a986efc4e1234b24","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["bc64bef7cf0e0fc0","f17d7a4d1e04c250"]]},{"id":"bc64bef7cf0e0fc0","type":"debug","z":"a986efc4e1234b24","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"5de7e7b0ddfa2db5","type":"function","z":"a986efc4e1234b24","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["eb692215436c5fad"]]},{"id":"c716d76c6c22bbfd","type":"debug","z":"a986efc4e1234b24","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"a3d1b7defa4dbbf8","type":"function","z":"a986efc4e1234b24","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["fc4649f71663e7c0"]]},{"id":"e9f049c9f45c2f6e","type":"debug","z":"a986efc4e1234b24","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"a67015580ffd9eb2","type":"inject","z":"a986efc4e1234b24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A03/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["477e9c594c63965e"]]},{"id":"477e9c594c63965e","type":"function","z":"a986efc4e1234b24","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["5de7e7b0ddfa2db5"]]},{"id":"2f10d335416d4002","type":"inject","z":"a986efc4e1234b24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A03/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["79a25ba038a892c3"]]},{"id":"db58f33ed60d2a82","type":"function","z":"a986efc4e1234b24","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["a3d1b7defa4dbbf8"]]},{"id":"92f7cf6b162cb36f","type":"inject","z":"a986efc4e1234b24","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A03/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["db58f33ed60d2a82"]]},{"id":"cdf0b4cba58c47f9","type":"MSSQL-UCGv2","z":"a986efc4e1234b24","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["31b526d58f1ba86a"]]},{"id":"eb692215436c5fad","type":"MSSQL-UCGv2","z":"a986efc4e1234b24","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["c716d76c6c22bbfd"]]},{"id":"fc4649f71663e7c0","type":"MSSQL-UCGv2","z":"a986efc4e1234b24","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["e9f049c9f45c2f6e"]]},{"id":"1347f868fb629a90","type":"debug","z":"6745c5ecef50435a","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"bfc027b10445d2f1","type":"mqtt in","z":"6745c5ecef50435a","name":"","topic":"A04/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["3159f9a71d25538f","3568c283a245722a","6e66af3ad5d1c596"]]},{"id":"3159f9a71d25538f","type":"switch","z":"6745c5ecef50435a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["1518b2d49ae42c8b"]]},{"id":"1518b2d49ae42c8b","type":"mqtt out","z":"6745c5ecef50435a","name":"","topic":"A04/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"b728adfe12d9ea31","type":"mqtt in","z":"6745c5ecef50435a","name":"return A04","topic":"A04/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["1347f868fb629a90","d8651540d30ab50f","adcc86fadff10a25"]]},{"id":"bb507051c1e63537","type":"mqtt in","z":"6745c5ecef50435a","name":"finish A04","topic":"A04/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["677617bc6ad0f3a5","345876383b28ee3c","098ad04692243b6e"]]},{"id":"d8651540d30ab50f","type":"change","z":"6745c5ecef50435a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["584a087ae3bac10f"]]},{"id":"584a087ae3bac10f","type":"mqtt out","z":"6745c5ecef50435a","name":"","topic":"A04/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"677617bc6ad0f3a5","type":"change","z":"6745c5ecef50435a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["b97ba1f0580a19bb"]]},{"id":"b97ba1f0580a19bb","type":"mqtt out","z":"6745c5ecef50435a","name":"","topic":"A04/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"345876383b28ee3c","type":"debug","z":"6745c5ecef50435a","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"3568c283a245722a","type":"debug","z":"6745c5ecef50435a","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"1b64628026d9e9da","type":"function","z":"6745c5ecef50435a","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["e556da45f603a43d"]]},{"id":"a59b9dbfb7b2a305","type":"debug","z":"6745c5ecef50435a","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"564c23328d45c851","type":"debug","z":"6745c5ecef50435a","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"f6c60ba5fc063cbf","type":"function","z":"6745c5ecef50435a","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"6e66af3ad5d1c596","type":"function","z":"6745c5ecef50435a","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["1f8f00e3d41fe6de","1b64628026d9e9da"]]},{"id":"1f8f00e3d41fe6de","type":"debug","z":"6745c5ecef50435a","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"918e4f84f883b7d2","type":"function","z":"6745c5ecef50435a","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["5c5499cba76526e7"]]},{"id":"1aee26764941427b","type":"debug","z":"6745c5ecef50435a","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"f4189a3ada9ed995","type":"function","z":"6745c5ecef50435a","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["fc709d5218611650"]]},{"id":"6372c1464657ee55","type":"debug","z":"6745c5ecef50435a","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"ec26ee5f2d0fba74","type":"inject","z":"6745c5ecef50435a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A04/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["adcc86fadff10a25"]]},{"id":"adcc86fadff10a25","type":"function","z":"6745c5ecef50435a","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["918e4f84f883b7d2"]]},{"id":"bc8cd1b5c30e2936","type":"inject","z":"6745c5ecef50435a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A04/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["6e66af3ad5d1c596"]]},{"id":"098ad04692243b6e","type":"function","z":"6745c5ecef50435a","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["f4189a3ada9ed995"]]},{"id":"9860399421720566","type":"inject","z":"6745c5ecef50435a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A04/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["098ad04692243b6e"]]},{"id":"e556da45f603a43d","type":"MSSQL-UCGv2","z":"6745c5ecef50435a","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["a59b9dbfb7b2a305"]]},{"id":"5c5499cba76526e7","type":"MSSQL-UCGv2","z":"6745c5ecef50435a","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["1aee26764941427b"]]},{"id":"fc709d5218611650","type":"MSSQL-UCGv2","z":"6745c5ecef50435a","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["6372c1464657ee55"]]},{"id":"a28341050ba05641","type":"debug","z":"f03f85537791faa9","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"3a199014440e8429","type":"mqtt in","z":"f03f85537791faa9","name":"","topic":"A05/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["fc3938a0e4f94455","6ab4d8f4e88e7fea","dd296d14d862e0f3"]]},{"id":"fc3938a0e4f94455","type":"switch","z":"f03f85537791faa9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["b9a2516164fa16e0"]]},{"id":"b9a2516164fa16e0","type":"mqtt out","z":"f03f85537791faa9","name":"","topic":"A05/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"e7d0bc147692a1d2","type":"mqtt in","z":"f03f85537791faa9","name":"return A05","topic":"A05/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["a28341050ba05641","d7660a0b73e9e57f","8394d47d4e7a20ea"]]},{"id":"5f3143ab24c6d261","type":"mqtt in","z":"f03f85537791faa9","name":"finish A05","topic":"A05/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["aedd492ba2b2dfd5","ae7e9605b568e146","55117c308d241f9f"]]},{"id":"d7660a0b73e9e57f","type":"change","z":"f03f85537791faa9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["1119c81ec5610a5b"]]},{"id":"1119c81ec5610a5b","type":"mqtt out","z":"f03f85537791faa9","name":"","topic":"A05/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"aedd492ba2b2dfd5","type":"change","z":"f03f85537791faa9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["69664e6af12e9e61"]]},{"id":"69664e6af12e9e61","type":"mqtt out","z":"f03f85537791faa9","name":"","topic":"A05/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"ae7e9605b568e146","type":"debug","z":"f03f85537791faa9","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"6ab4d8f4e88e7fea","type":"debug","z":"f03f85537791faa9","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"4ddc8bbcb3a8f548","type":"function","z":"f03f85537791faa9","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["e308bb2e9bb39c1a"]]},{"id":"493a1de09839864e","type":"debug","z":"f03f85537791faa9","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"bc458721269694c4","type":"debug","z":"f03f85537791faa9","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"b957758259633311","type":"function","z":"f03f85537791faa9","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"dd296d14d862e0f3","type":"function","z":"f03f85537791faa9","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["61696b31e3a0bfed","4ddc8bbcb3a8f548"]]},{"id":"61696b31e3a0bfed","type":"debug","z":"f03f85537791faa9","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"7f5c6dd6d2ee78c7","type":"function","z":"f03f85537791faa9","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["be97c47addd8156a"]]},{"id":"f2a753da8296ef2e","type":"debug","z":"f03f85537791faa9","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"8d128dc0d6138993","type":"function","z":"f03f85537791faa9","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["34bb2f4bc0c8c1fc"]]},{"id":"e2cffe2e1c0ace1d","type":"debug","z":"f03f85537791faa9","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"4c8c22d5bf5cf320","type":"inject","z":"f03f85537791faa9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A05/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["8394d47d4e7a20ea"]]},{"id":"8394d47d4e7a20ea","type":"function","z":"f03f85537791faa9","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["7f5c6dd6d2ee78c7"]]},{"id":"124a6be124f830e0","type":"inject","z":"f03f85537791faa9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A05/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["dd296d14d862e0f3"]]},{"id":"55117c308d241f9f","type":"function","z":"f03f85537791faa9","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["8d128dc0d6138993"]]},{"id":"456757fb03b66a73","type":"inject","z":"f03f85537791faa9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A05/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["55117c308d241f9f"]]},{"id":"e308bb2e9bb39c1a","type":"MSSQL-UCGv2","z":"f03f85537791faa9","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["493a1de09839864e"]]},{"id":"be97c47addd8156a","type":"MSSQL-UCGv2","z":"f03f85537791faa9","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["f2a753da8296ef2e"]]},{"id":"34bb2f4bc0c8c1fc","type":"MSSQL-UCGv2","z":"f03f85537791faa9","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["e2cffe2e1c0ace1d"]]},{"id":"ec10a659f45538c2","type":"debug","z":"67727143c8187d09","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"cd489ba16f55947c","type":"mqtt in","z":"67727143c8187d09","name":"","topic":"A06/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["b57d80c61a3a40b7","4c8b0c60b9786f9e","ea9e1351c62fb8cf"]]},{"id":"b57d80c61a3a40b7","type":"switch","z":"67727143c8187d09","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["8ee8340460a7f680"]]},{"id":"8ee8340460a7f680","type":"mqtt out","z":"67727143c8187d09","name":"","topic":"A06/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"e0c064ab3fe55909","type":"mqtt in","z":"67727143c8187d09","name":"return A06","topic":"A06/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["ec10a659f45538c2","16cf97a5abfa43e7","b058df40a640deb3"]]},{"id":"60c60e7406f0920b","type":"mqtt in","z":"67727143c8187d09","name":"finish A06","topic":"A06/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["019a923072619c38","f20dda75b55a1028","28f9ec007056a9a1"]]},{"id":"16cf97a5abfa43e7","type":"change","z":"67727143c8187d09","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["3ef8ca7dca1c7cac"]]},{"id":"3ef8ca7dca1c7cac","type":"mqtt out","z":"67727143c8187d09","name":"","topic":"A06/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"019a923072619c38","type":"change","z":"67727143c8187d09","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["1a2994b60b17cdb0"]]},{"id":"1a2994b60b17cdb0","type":"mqtt out","z":"67727143c8187d09","name":"","topic":"A06/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"f20dda75b55a1028","type":"debug","z":"67727143c8187d09","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"4c8b0c60b9786f9e","type":"debug","z":"67727143c8187d09","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"bc820ee3afcc8593","type":"function","z":"67727143c8187d09","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["81eac8c5627b80a1"]]},{"id":"ec3f68a811f7f361","type":"debug","z":"67727143c8187d09","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"4d9c8d1f1c46ecdb","type":"debug","z":"67727143c8187d09","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"04d26b1123f2fc28","type":"function","z":"67727143c8187d09","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"ea9e1351c62fb8cf","type":"function","z":"67727143c8187d09","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["45a09632e5462d54","bc820ee3afcc8593"]]},{"id":"45a09632e5462d54","type":"debug","z":"67727143c8187d09","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"9064966257d7e4b8","type":"function","z":"67727143c8187d09","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["d0a0781e231805e7"]]},{"id":"56b69c9f2c63d63e","type":"debug","z":"67727143c8187d09","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"e45c986b77b5f4ce","type":"function","z":"67727143c8187d09","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["92eddde88fca17fe"]]},{"id":"2d574b3bcfa2e6c6","type":"debug","z":"67727143c8187d09","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"fc99ee033bf34dfe","type":"inject","z":"67727143c8187d09","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A06/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["b058df40a640deb3"]]},{"id":"b058df40a640deb3","type":"function","z":"67727143c8187d09","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["9064966257d7e4b8"]]},{"id":"acd59217fef05641","type":"inject","z":"67727143c8187d09","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A06/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["ea9e1351c62fb8cf"]]},{"id":"28f9ec007056a9a1","type":"function","z":"67727143c8187d09","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["e45c986b77b5f4ce"]]},{"id":"2f0bd12ef17e8083","type":"inject","z":"67727143c8187d09","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A06/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["28f9ec007056a9a1"]]},{"id":"81eac8c5627b80a1","type":"MSSQL-UCGv2","z":"67727143c8187d09","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["ec3f68a811f7f361"]]},{"id":"d0a0781e231805e7","type":"MSSQL-UCGv2","z":"67727143c8187d09","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["56b69c9f2c63d63e"]]},{"id":"92eddde88fca17fe","type":"MSSQL-UCGv2","z":"67727143c8187d09","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["2d574b3bcfa2e6c6"]]},{"id":"a95ac40a639f872f","type":"debug","z":"20ded1bb56a19c1b","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"5ae2a75d08d6d339","type":"mqtt in","z":"20ded1bb56a19c1b","name":"","topic":"A07/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["9a3a7dced20cc626","08581f55e3059fb3","2c331fa570f92dbf"]]},{"id":"9a3a7dced20cc626","type":"switch","z":"20ded1bb56a19c1b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["e0ce52d974af04a6"]]},{"id":"e0ce52d974af04a6","type":"mqtt out","z":"20ded1bb56a19c1b","name":"","topic":"A07/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"7a2ff972a235ff81","type":"mqtt in","z":"20ded1bb56a19c1b","name":"return A07","topic":"A07/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["a95ac40a639f872f","cc6feda2e689ec93","959256247eea7566"]]},{"id":"5a681e0f5b281ca8","type":"mqtt in","z":"20ded1bb56a19c1b","name":"finish A07","topic":"A07/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["0488b3e7d321a1e9","4a8d42d34be4d28b","0f279df6b5deb17a"]]},{"id":"cc6feda2e689ec93","type":"change","z":"20ded1bb56a19c1b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["9c5be9a2e3e2cb01"]]},{"id":"9c5be9a2e3e2cb01","type":"mqtt out","z":"20ded1bb56a19c1b","name":"","topic":"A07/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"0488b3e7d321a1e9","type":"change","z":"20ded1bb56a19c1b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["236c5c0d022d335c"]]},{"id":"236c5c0d022d335c","type":"mqtt out","z":"20ded1bb56a19c1b","name":"","topic":"A07/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"4a8d42d34be4d28b","type":"debug","z":"20ded1bb56a19c1b","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"08581f55e3059fb3","type":"debug","z":"20ded1bb56a19c1b","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"84cfaffcc0d42345","type":"function","z":"20ded1bb56a19c1b","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["e0431012247a6d84"]]},{"id":"2a216d2ffe1c5383","type":"debug","z":"20ded1bb56a19c1b","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"58a672dde7e45a20","type":"debug","z":"20ded1bb56a19c1b","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"f052d92089ec2044","type":"function","z":"20ded1bb56a19c1b","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"2c331fa570f92dbf","type":"function","z":"20ded1bb56a19c1b","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["641dcc6c305cca38","84cfaffcc0d42345"]]},{"id":"641dcc6c305cca38","type":"debug","z":"20ded1bb56a19c1b","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"dc77e3de4ed6615e","type":"function","z":"20ded1bb56a19c1b","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["9b544a243e44b140"]]},{"id":"6fb494bc5d3ef6e8","type":"debug","z":"20ded1bb56a19c1b","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"6827115e10039519","type":"function","z":"20ded1bb56a19c1b","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["6f34e12d8581ec0f"]]},{"id":"f0b1eeb860956975","type":"debug","z":"20ded1bb56a19c1b","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"472435bc2d87b76f","type":"inject","z":"20ded1bb56a19c1b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A07/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["959256247eea7566"]]},{"id":"959256247eea7566","type":"function","z":"20ded1bb56a19c1b","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["dc77e3de4ed6615e"]]},{"id":"6b2e2f03927f8144","type":"inject","z":"20ded1bb56a19c1b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A07/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["2c331fa570f92dbf"]]},{"id":"0f279df6b5deb17a","type":"function","z":"20ded1bb56a19c1b","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["6827115e10039519"]]},{"id":"b5e8e9dc76fada8c","type":"inject","z":"20ded1bb56a19c1b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A07/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["0f279df6b5deb17a"]]},{"id":"e0431012247a6d84","type":"MSSQL-UCGv2","z":"20ded1bb56a19c1b","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["2a216d2ffe1c5383"]]},{"id":"9b544a243e44b140","type":"MSSQL-UCGv2","z":"20ded1bb56a19c1b","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["6fb494bc5d3ef6e8"]]},{"id":"6f34e12d8581ec0f","type":"MSSQL-UCGv2","z":"20ded1bb56a19c1b","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["f0b1eeb860956975"]]},{"id":"172f3efdb594f045","type":"debug","z":"28e5a87647c181f1","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"8ea1c5bfa91d13ac","type":"mqtt in","z":"28e5a87647c181f1","name":"","topic":"A08/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["202e42ffdd3996aa","ece55623f40c3152","55c58765f62e3a5f"]]},{"id":"202e42ffdd3996aa","type":"switch","z":"28e5a87647c181f1","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["ee24d32d36706ef9"]]},{"id":"ee24d32d36706ef9","type":"mqtt out","z":"28e5a87647c181f1","name":"","topic":"A08/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"5ba7dbbc1de95563","type":"mqtt in","z":"28e5a87647c181f1","name":"return A08","topic":"A08/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["172f3efdb594f045","1e906e0fb53f3299","ca835b5bbd3f67f3"]]},{"id":"a1be0f9287860c95","type":"mqtt in","z":"28e5a87647c181f1","name":"finish A08","topic":"A08/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["2bc3e4ecbdc48962","17db221c9842c861","9484217f5b59381d"]]},{"id":"1e906e0fb53f3299","type":"change","z":"28e5a87647c181f1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["f0a65f5f5e7f646a"]]},{"id":"f0a65f5f5e7f646a","type":"mqtt out","z":"28e5a87647c181f1","name":"","topic":"A08/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"2bc3e4ecbdc48962","type":"change","z":"28e5a87647c181f1","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["c33b72c61bf46622"]]},{"id":"c33b72c61bf46622","type":"mqtt out","z":"28e5a87647c181f1","name":"","topic":"A08/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"17db221c9842c861","type":"debug","z":"28e5a87647c181f1","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"ece55623f40c3152","type":"debug","z":"28e5a87647c181f1","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"08cea18d0c78beeb","type":"function","z":"28e5a87647c181f1","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["a2ba1c167a317ea5"]]},{"id":"cc90dc9d50ddb83d","type":"debug","z":"28e5a87647c181f1","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"521ed59916284634","type":"debug","z":"28e5a87647c181f1","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"a3f2e2a9623764bb","type":"function","z":"28e5a87647c181f1","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"55c58765f62e3a5f","type":"function","z":"28e5a87647c181f1","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["dbbc755c35b55615","08cea18d0c78beeb"]]},{"id":"dbbc755c35b55615","type":"debug","z":"28e5a87647c181f1","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"10f8dedb3e1ef8e9","type":"function","z":"28e5a87647c181f1","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["5f234db756bc0cc8"]]},{"id":"48e4ed398ff3456f","type":"debug","z":"28e5a87647c181f1","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"f366a08164691738","type":"function","z":"28e5a87647c181f1","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["dd781225dca484fa"]]},{"id":"5b5f9b65a984425b","type":"debug","z":"28e5a87647c181f1","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"54f8aedbbad8f62f","type":"inject","z":"28e5a87647c181f1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A08/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["ca835b5bbd3f67f3"]]},{"id":"ca835b5bbd3f67f3","type":"function","z":"28e5a87647c181f1","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["10f8dedb3e1ef8e9"]]},{"id":"e8794ff08b421aec","type":"inject","z":"28e5a87647c181f1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A08/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["55c58765f62e3a5f"]]},{"id":"9484217f5b59381d","type":"function","z":"28e5a87647c181f1","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["f366a08164691738"]]},{"id":"108b457de1b568f7","type":"inject","z":"28e5a87647c181f1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A08/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["9484217f5b59381d"]]},{"id":"a2ba1c167a317ea5","type":"MSSQL-UCGv2","z":"28e5a87647c181f1","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["cc90dc9d50ddb83d"]]},{"id":"5f234db756bc0cc8","type":"MSSQL-UCGv2","z":"28e5a87647c181f1","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["48e4ed398ff3456f"]]},{"id":"dd781225dca484fa","type":"MSSQL-UCGv2","z":"28e5a87647c181f1","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["5b5f9b65a984425b"]]},{"id":"aa5e3dd89f5448e8","type":"debug","z":"fa368886315aa61a","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"3e9376dc5b0f9127","type":"mqtt in","z":"fa368886315aa61a","name":"","topic":"A09/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["4208311a7b81f00b","28e907224a982535","1c3f2b662652ccb4"]]},{"id":"4208311a7b81f00b","type":"switch","z":"fa368886315aa61a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["5c05013bba4e2048"]]},{"id":"5c05013bba4e2048","type":"mqtt out","z":"fa368886315aa61a","name":"","topic":"A09/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"ed9438481e9eeecb","type":"mqtt in","z":"fa368886315aa61a","name":"return A09","topic":"A09/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["aa5e3dd89f5448e8","9da9277d0d137e19","215e22df925f5017"]]},{"id":"5e447ca8de827820","type":"mqtt in","z":"fa368886315aa61a","name":"finish A09","topic":"A09/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["12c60f8d54366976","3a11391b67a7cbfd","feb7ec10d699b9a4"]]},{"id":"9da9277d0d137e19","type":"change","z":"fa368886315aa61a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["e5c65834cd673329"]]},{"id":"e5c65834cd673329","type":"mqtt out","z":"fa368886315aa61a","name":"","topic":"A09/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"12c60f8d54366976","type":"change","z":"fa368886315aa61a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["0fca1baecadd5d0a"]]},{"id":"0fca1baecadd5d0a","type":"mqtt out","z":"fa368886315aa61a","name":"","topic":"A09/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"3a11391b67a7cbfd","type":"debug","z":"fa368886315aa61a","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"28e907224a982535","type":"debug","z":"fa368886315aa61a","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"c67cf1cc47779d83","type":"function","z":"fa368886315aa61a","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["d2ff122b3776473d"]]},{"id":"c1de3ff46d285550","type":"debug","z":"fa368886315aa61a","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"26caaaa6c35635fe","type":"debug","z":"fa368886315aa61a","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"00109d4b566ea49f","type":"function","z":"fa368886315aa61a","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"1c3f2b662652ccb4","type":"function","z":"fa368886315aa61a","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["5d3ce84ccd8f7070","c67cf1cc47779d83"]]},{"id":"5d3ce84ccd8f7070","type":"debug","z":"fa368886315aa61a","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"41501fa1a602276a","type":"function","z":"fa368886315aa61a","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["2bf1236a7bc30556"]]},{"id":"e185a6ecc354b191","type":"debug","z":"fa368886315aa61a","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"0fd1484c5ea4c111","type":"function","z":"fa368886315aa61a","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["dd2dda62f660b02f"]]},{"id":"2ee6df04cb5e29f2","type":"debug","z":"fa368886315aa61a","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"328445cb01ca7d39","type":"inject","z":"fa368886315aa61a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A09/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["215e22df925f5017"]]},{"id":"215e22df925f5017","type":"function","z":"fa368886315aa61a","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["41501fa1a602276a"]]},{"id":"79b060b142760abe","type":"inject","z":"fa368886315aa61a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A09/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["1c3f2b662652ccb4"]]},{"id":"feb7ec10d699b9a4","type":"function","z":"fa368886315aa61a","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["0fd1484c5ea4c111"]]},{"id":"247c1ad02e1a7f3b","type":"inject","z":"fa368886315aa61a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A09/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["feb7ec10d699b9a4"]]},{"id":"d2ff122b3776473d","type":"MSSQL-UCGv2","z":"fa368886315aa61a","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["c1de3ff46d285550"]]},{"id":"2bf1236a7bc30556","type":"MSSQL-UCGv2","z":"fa368886315aa61a","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["e185a6ecc354b191"]]},{"id":"dd2dda62f660b02f","type":"MSSQL-UCGv2","z":"fa368886315aa61a","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["2ee6df04cb5e29f2"]]},{"id":"74a6ed53e7dfb523","type":"debug","z":"1f72e495356afd6e","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"ae9bdb249cc41ad6","type":"mqtt in","z":"1f72e495356afd6e","name":"","topic":"A10/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["af65c0a77b8096b1","63905a2aab85c005","b46e452818184ddd"]]},{"id":"af65c0a77b8096b1","type":"switch","z":"1f72e495356afd6e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["f1422a64da18c5e7"]]},{"id":"f1422a64da18c5e7","type":"mqtt out","z":"1f72e495356afd6e","name":"","topic":"A10/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"ddcf83dc91f37e29","type":"mqtt in","z":"1f72e495356afd6e","name":"return A10","topic":"A10/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["74a6ed53e7dfb523","369c463f43e59f28","fa4e3a354faec49e"]]},{"id":"a38b177a900c347b","type":"mqtt in","z":"1f72e495356afd6e","name":"finish A10","topic":"A10/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["5d1727d653f64605","fb2107decad49923","169cdb201090ebfd"]]},{"id":"369c463f43e59f28","type":"change","z":"1f72e495356afd6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["80b69cbc4b7b68bd"]]},{"id":"80b69cbc4b7b68bd","type":"mqtt out","z":"1f72e495356afd6e","name":"","topic":"A10/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"5d1727d653f64605","type":"change","z":"1f72e495356afd6e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["f5c9375cecbe9f01"]]},{"id":"f5c9375cecbe9f01","type":"mqtt out","z":"1f72e495356afd6e","name":"","topic":"A10/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"fb2107decad49923","type":"debug","z":"1f72e495356afd6e","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"63905a2aab85c005","type":"debug","z":"1f72e495356afd6e","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"85ee20a6f57994e8","type":"function","z":"1f72e495356afd6e","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["253b8ad44fce448f"]]},{"id":"a1c442e477df1f57","type":"debug","z":"1f72e495356afd6e","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"24830a3136ed5fae","type":"debug","z":"1f72e495356afd6e","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"b8c577c3b1fd5ba3","type":"function","z":"1f72e495356afd6e","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"b46e452818184ddd","type":"function","z":"1f72e495356afd6e","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["f2f7f730c25eceb3","85ee20a6f57994e8"]]},{"id":"f2f7f730c25eceb3","type":"debug","z":"1f72e495356afd6e","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"b202d879da84e624","type":"function","z":"1f72e495356afd6e","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["9e796d1869bd513b"]]},{"id":"95d14ac380dd4446","type":"debug","z":"1f72e495356afd6e","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"d4592d2c711333b9","type":"function","z":"1f72e495356afd6e","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["71966b83759907de"]]},{"id":"03ced87f05e73c24","type":"debug","z":"1f72e495356afd6e","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"201fc9145c717d4a","type":"inject","z":"1f72e495356afd6e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A10/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["fa4e3a354faec49e"]]},{"id":"fa4e3a354faec49e","type":"function","z":"1f72e495356afd6e","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["b202d879da84e624"]]},{"id":"aa7cfa1c93544086","type":"inject","z":"1f72e495356afd6e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A10/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["b46e452818184ddd"]]},{"id":"169cdb201090ebfd","type":"function","z":"1f72e495356afd6e","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["d4592d2c711333b9"]]},{"id":"d39f8d5b2128a358","type":"inject","z":"1f72e495356afd6e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A10/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["169cdb201090ebfd"]]},{"id":"253b8ad44fce448f","type":"MSSQL-UCGv2","z":"1f72e495356afd6e","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["a1c442e477df1f57"]]},{"id":"9e796d1869bd513b","type":"MSSQL-UCGv2","z":"1f72e495356afd6e","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["95d14ac380dd4446"]]},{"id":"71966b83759907de","type":"MSSQL-UCGv2","z":"1f72e495356afd6e","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["03ced87f05e73c24"]]},{"id":"0ae169d62e5ce7da","type":"debug","z":"ed9e1aa79750bbf4","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"cb09f3a219795352","type":"mqtt in","z":"ed9e1aa79750bbf4","name":"","topic":"A11/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["1f78fc47dfc795f6","d79b20e7fe996a3f","f1d6fa6647ff0e2b"]]},{"id":"1f78fc47dfc795f6","type":"switch","z":"ed9e1aa79750bbf4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["378c4e5a83f5dc31"]]},{"id":"378c4e5a83f5dc31","type":"mqtt out","z":"ed9e1aa79750bbf4","name":"","topic":"A11/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"4240a05032fc427d","type":"mqtt in","z":"ed9e1aa79750bbf4","name":"return A11","topic":"A11/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["0ae169d62e5ce7da","54c98b304bd77477","3fe32741c5a683ee"]]},{"id":"7355987de484639e","type":"mqtt in","z":"ed9e1aa79750bbf4","name":"finish A11","topic":"A11/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["e82403e97068a8ea","645b9e6a118d2979","aee92c967240b325"]]},{"id":"54c98b304bd77477","type":"change","z":"ed9e1aa79750bbf4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["2492754707e9f61c"]]},{"id":"2492754707e9f61c","type":"mqtt out","z":"ed9e1aa79750bbf4","name":"","topic":"A11/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"e82403e97068a8ea","type":"change","z":"ed9e1aa79750bbf4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["ada4155b8029c660"]]},{"id":"ada4155b8029c660","type":"mqtt out","z":"ed9e1aa79750bbf4","name":"","topic":"A11/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"645b9e6a118d2979","type":"debug","z":"ed9e1aa79750bbf4","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"d79b20e7fe996a3f","type":"debug","z":"ed9e1aa79750bbf4","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"a2326ee8224d160a","type":"function","z":"ed9e1aa79750bbf4","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["a937cbe330ea75c6"]]},{"id":"4a4cf42f136e40dc","type":"debug","z":"ed9e1aa79750bbf4","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"fb374e3f6c837655","type":"debug","z":"ed9e1aa79750bbf4","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"eb6b9dbc79c6433a","type":"function","z":"ed9e1aa79750bbf4","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"f1d6fa6647ff0e2b","type":"function","z":"ed9e1aa79750bbf4","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["d9df9d5bd5d63756","a2326ee8224d160a"]]},{"id":"d9df9d5bd5d63756","type":"debug","z":"ed9e1aa79750bbf4","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"ab07cf7309d481c5","type":"function","z":"ed9e1aa79750bbf4","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["0aac0ee1303b9919"]]},{"id":"18f25cc987f65914","type":"debug","z":"ed9e1aa79750bbf4","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"f161930de8b4126a","type":"function","z":"ed9e1aa79750bbf4","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["f42ced7b5684b172"]]},{"id":"c92ece6a9b975c1d","type":"debug","z":"ed9e1aa79750bbf4","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"530ecd8cdaccb15e","type":"inject","z":"ed9e1aa79750bbf4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A11/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["3fe32741c5a683ee"]]},{"id":"3fe32741c5a683ee","type":"function","z":"ed9e1aa79750bbf4","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["ab07cf7309d481c5"]]},{"id":"8141ccdc45d32035","type":"inject","z":"ed9e1aa79750bbf4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A11/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["f1d6fa6647ff0e2b"]]},{"id":"aee92c967240b325","type":"function","z":"ed9e1aa79750bbf4","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["f161930de8b4126a"]]},{"id":"8f5b40f806d1d5b0","type":"inject","z":"ed9e1aa79750bbf4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A11/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["aee92c967240b325"]]},{"id":"a937cbe330ea75c6","type":"MSSQL-UCGv2","z":"ed9e1aa79750bbf4","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["4a4cf42f136e40dc"]]},{"id":"0aac0ee1303b9919","type":"MSSQL-UCGv2","z":"ed9e1aa79750bbf4","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["18f25cc987f65914"]]},{"id":"f42ced7b5684b172","type":"MSSQL-UCGv2","z":"ed9e1aa79750bbf4","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["c92ece6a9b975c1d"]]},{"id":"7a85f377f72fdba6","type":"debug","z":"f1470890093fdd30","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"9e35570b098ba1a4","type":"mqtt in","z":"f1470890093fdd30","name":"","topic":"A12/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["77bb1d2921e0f385","5eef9d8df9a82540","5771943b101f784b"]]},{"id":"77bb1d2921e0f385","type":"switch","z":"f1470890093fdd30","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["c889e6755223b8e1"]]},{"id":"c889e6755223b8e1","type":"mqtt out","z":"f1470890093fdd30","name":"","topic":"A12/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"5894b6f6d3f2a600","type":"mqtt in","z":"f1470890093fdd30","name":"return A12","topic":"A12/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["7a85f377f72fdba6","006192956add2aa8","1000c4abb199260d"]]},{"id":"e01cbd48727d3260","type":"mqtt in","z":"f1470890093fdd30","name":"finish A12","topic":"A12/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["ed31cd7f2c976f9e","afce4a125c71ae57","3c59f2d08a8f0668"]]},{"id":"006192956add2aa8","type":"change","z":"f1470890093fdd30","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["c3bd161cb7c81d60"]]},{"id":"c3bd161cb7c81d60","type":"mqtt out","z":"f1470890093fdd30","name":"","topic":"A12/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"ed31cd7f2c976f9e","type":"change","z":"f1470890093fdd30","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["191ced5dea52dbd2"]]},{"id":"191ced5dea52dbd2","type":"mqtt out","z":"f1470890093fdd30","name":"","topic":"A12/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"afce4a125c71ae57","type":"debug","z":"f1470890093fdd30","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"5eef9d8df9a82540","type":"debug","z":"f1470890093fdd30","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"a4c063a5b6b8a784","type":"function","z":"f1470890093fdd30","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["faf6fb563e884ce1"]]},{"id":"ddd7b59d87dd988b","type":"debug","z":"f1470890093fdd30","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"a9cb701373ad5791","type":"debug","z":"f1470890093fdd30","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"a4178e6de65399cf","type":"function","z":"f1470890093fdd30","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"5771943b101f784b","type":"function","z":"f1470890093fdd30","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["3007c7790b3aa28b","a4c063a5b6b8a784"]]},{"id":"3007c7790b3aa28b","type":"debug","z":"f1470890093fdd30","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"e61c37a9610b1ab8","type":"function","z":"f1470890093fdd30","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["1409b7b2f53e0b83"]]},{"id":"627b2e58ada0e284","type":"debug","z":"f1470890093fdd30","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"cf5a514690c89e10","type":"function","z":"f1470890093fdd30","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["63919407a298ce3b"]]},{"id":"45b2175abdcbe924","type":"debug","z":"f1470890093fdd30","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"43f2532e4ddf6f4c","type":"inject","z":"f1470890093fdd30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A12/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["1000c4abb199260d"]]},{"id":"1000c4abb199260d","type":"function","z":"f1470890093fdd30","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["e61c37a9610b1ab8"]]},{"id":"26c9618965116610","type":"inject","z":"f1470890093fdd30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A12/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["5771943b101f784b"]]},{"id":"3c59f2d08a8f0668","type":"function","z":"f1470890093fdd30","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["cf5a514690c89e10"]]},{"id":"097a26996136d3de","type":"inject","z":"f1470890093fdd30","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A12/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["3c59f2d08a8f0668"]]},{"id":"faf6fb563e884ce1","type":"MSSQL-UCGv2","z":"f1470890093fdd30","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["ddd7b59d87dd988b"]]},{"id":"1409b7b2f53e0b83","type":"MSSQL-UCGv2","z":"f1470890093fdd30","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["627b2e58ada0e284"]]},{"id":"63919407a298ce3b","type":"MSSQL-UCGv2","z":"f1470890093fdd30","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["45b2175abdcbe924"]]},{"id":"2e3178ae5683f927","type":"debug","z":"3528a5c381c41071","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"21002dcde15c0b62","type":"mqtt in","z":"3528a5c381c41071","name":"","topic":"A13/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["5183cb3e999be597","f05a72329ef4b2dc","9c68930b85b45599"]]},{"id":"5183cb3e999be597","type":"switch","z":"3528a5c381c41071","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["82904b630348dc41"]]},{"id":"82904b630348dc41","type":"mqtt out","z":"3528a5c381c41071","name":"","topic":"A13/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"51adce4912d1b340","type":"mqtt in","z":"3528a5c381c41071","name":"return A13","topic":"A13/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["2e3178ae5683f927","c07c739313e1488d","601aa45be34c7f58"]]},{"id":"5aa19809a2707833","type":"mqtt in","z":"3528a5c381c41071","name":"finish A13","topic":"A13/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["a829b7ef38dd2ccc","ea42f536d5b2d8f1","0ef5bdcdb0842f63"]]},{"id":"c07c739313e1488d","type":"change","z":"3528a5c381c41071","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["1b9c65913be7c551"]]},{"id":"1b9c65913be7c551","type":"mqtt out","z":"3528a5c381c41071","name":"","topic":"A13/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"a829b7ef38dd2ccc","type":"change","z":"3528a5c381c41071","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["174e4433f7f582a2"]]},{"id":"174e4433f7f582a2","type":"mqtt out","z":"3528a5c381c41071","name":"","topic":"A13/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"ea42f536d5b2d8f1","type":"debug","z":"3528a5c381c41071","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"f05a72329ef4b2dc","type":"debug","z":"3528a5c381c41071","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"6a26fde56540fa94","type":"function","z":"3528a5c381c41071","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["b0162944345e4674"]]},{"id":"41ef87e0efcb0e09","type":"debug","z":"3528a5c381c41071","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"398d55d98c4975b4","type":"debug","z":"3528a5c381c41071","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"132be598d333960a","type":"function","z":"3528a5c381c41071","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"9c68930b85b45599","type":"function","z":"3528a5c381c41071","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["331dedab86b3f38c","6a26fde56540fa94"]]},{"id":"331dedab86b3f38c","type":"debug","z":"3528a5c381c41071","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"5904fb0695bb6fa9","type":"function","z":"3528a5c381c41071","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["0ca2fdb135888d99"]]},{"id":"b4e42c07c03bb54b","type":"debug","z":"3528a5c381c41071","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"7cf7a859b022027c","type":"function","z":"3528a5c381c41071","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["e77c14442ad1aaf3"]]},{"id":"1ab684e673bb50df","type":"debug","z":"3528a5c381c41071","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"c151545a62f18b92","type":"inject","z":"3528a5c381c41071","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A13/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["601aa45be34c7f58"]]},{"id":"601aa45be34c7f58","type":"function","z":"3528a5c381c41071","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["5904fb0695bb6fa9"]]},{"id":"49c1a0c173d66bb8","type":"inject","z":"3528a5c381c41071","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A13/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["9c68930b85b45599"]]},{"id":"0ef5bdcdb0842f63","type":"function","z":"3528a5c381c41071","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["7cf7a859b022027c"]]},{"id":"f7510708954276de","type":"inject","z":"3528a5c381c41071","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A13/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["0ef5bdcdb0842f63"]]},{"id":"b0162944345e4674","type":"MSSQL-UCGv2","z":"3528a5c381c41071","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["41ef87e0efcb0e09"]]},{"id":"0ca2fdb135888d99","type":"MSSQL-UCGv2","z":"3528a5c381c41071","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["b4e42c07c03bb54b"]]},{"id":"e77c14442ad1aaf3","type":"MSSQL-UCGv2","z":"3528a5c381c41071","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["1ab684e673bb50df"]]},{"id":"22a1c16dc3aa0a45","type":"debug","z":"d0a1da4b48d0ab34","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"ed828633983d0a79","type":"mqtt in","z":"d0a1da4b48d0ab34","name":"","topic":"A14/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["371f99c97a9758ea","1cfaf9041df58055","98093134b3735da6"]]},{"id":"371f99c97a9758ea","type":"switch","z":"d0a1da4b48d0ab34","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["0b4bee9af6be95a4"]]},{"id":"0b4bee9af6be95a4","type":"mqtt out","z":"d0a1da4b48d0ab34","name":"","topic":"A14/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"5a80021c078d3164","type":"mqtt in","z":"d0a1da4b48d0ab34","name":"return A14","topic":"A14/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["22a1c16dc3aa0a45","a40889adb115edc3","65bbc6be47333ce4"]]},{"id":"044d07e017a52b9d","type":"mqtt in","z":"d0a1da4b48d0ab34","name":"finish A14","topic":"A14/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["c3fdd7a1d71a860b","74b03663ca2d1f08","c55f9b5c81e9f8f0"]]},{"id":"a40889adb115edc3","type":"change","z":"d0a1da4b48d0ab34","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["c2ad84b010cc3679"]]},{"id":"c2ad84b010cc3679","type":"mqtt out","z":"d0a1da4b48d0ab34","name":"","topic":"A14/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"c3fdd7a1d71a860b","type":"change","z":"d0a1da4b48d0ab34","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["01423f3cffaa0c0d"]]},{"id":"01423f3cffaa0c0d","type":"mqtt out","z":"d0a1da4b48d0ab34","name":"","topic":"A14/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"74b03663ca2d1f08","type":"debug","z":"d0a1da4b48d0ab34","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"1cfaf9041df58055","type":"debug","z":"d0a1da4b48d0ab34","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"e8b7c031cb15c033","type":"function","z":"d0a1da4b48d0ab34","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["bc6d509d6cabb3a1"]]},{"id":"8af10dc9773b210a","type":"debug","z":"d0a1da4b48d0ab34","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"9b295b99084a4b5e","type":"debug","z":"d0a1da4b48d0ab34","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"8a876b6cafd4ab6d","type":"function","z":"d0a1da4b48d0ab34","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"98093134b3735da6","type":"function","z":"d0a1da4b48d0ab34","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["c82492a32a513405","e8b7c031cb15c033"]]},{"id":"c82492a32a513405","type":"debug","z":"d0a1da4b48d0ab34","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"59643fe14f02a040","type":"function","z":"d0a1da4b48d0ab34","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["6b6ea1e9cd5b22d4"]]},{"id":"5dd72ab884c75bd4","type":"debug","z":"d0a1da4b48d0ab34","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"a4ca9552fc8f7591","type":"function","z":"d0a1da4b48d0ab34","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["c529921495eafef1"]]},{"id":"388cb30cc1a1b2d1","type":"debug","z":"d0a1da4b48d0ab34","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"1f70b161b6bdc6e8","type":"inject","z":"d0a1da4b48d0ab34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A14/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["65bbc6be47333ce4"]]},{"id":"65bbc6be47333ce4","type":"function","z":"d0a1da4b48d0ab34","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["59643fe14f02a040"]]},{"id":"5cecd9f30385a098","type":"inject","z":"d0a1da4b48d0ab34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A14/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["98093134b3735da6"]]},{"id":"c55f9b5c81e9f8f0","type":"function","z":"d0a1da4b48d0ab34","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["a4ca9552fc8f7591"]]},{"id":"225432e56a63028a","type":"inject","z":"d0a1da4b48d0ab34","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A14/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["c55f9b5c81e9f8f0"]]},{"id":"bc6d509d6cabb3a1","type":"MSSQL-UCGv2","z":"d0a1da4b48d0ab34","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["8af10dc9773b210a"]]},{"id":"6b6ea1e9cd5b22d4","type":"MSSQL-UCGv2","z":"d0a1da4b48d0ab34","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["5dd72ab884c75bd4"]]},{"id":"c529921495eafef1","type":"MSSQL-UCGv2","z":"d0a1da4b48d0ab34","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["388cb30cc1a1b2d1"]]},{"id":"f1e8c776476aec1b","type":"debug","z":"1597307a44f351df","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"48a4e6a40e0ed9e7","type":"mqtt in","z":"1597307a44f351df","name":"","topic":"A15/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["4e516a86fa572e70","fd31e5607180fb1a","0faf39389386a1a7"]]},{"id":"4e516a86fa572e70","type":"switch","z":"1597307a44f351df","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["e38803829c83641c"]]},{"id":"e38803829c83641c","type":"mqtt out","z":"1597307a44f351df","name":"","topic":"A15/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"0a942ee92f952246","type":"mqtt in","z":"1597307a44f351df","name":"return A15","topic":"A15/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["f1e8c776476aec1b","f479bbbeeb626366","afb865bd81be0e86"]]},{"id":"5b80a4dedd650d10","type":"mqtt in","z":"1597307a44f351df","name":"finish A15","topic":"A15/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["245911f75cc8bcfb","61d417680c295b1c","223cca1c7d4f200d"]]},{"id":"f479bbbeeb626366","type":"change","z":"1597307a44f351df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["ddb853e7539a7e18"]]},{"id":"ddb853e7539a7e18","type":"mqtt out","z":"1597307a44f351df","name":"","topic":"A15/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"245911f75cc8bcfb","type":"change","z":"1597307a44f351df","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["6d1f9e8575aa8ea0"]]},{"id":"6d1f9e8575aa8ea0","type":"mqtt out","z":"1597307a44f351df","name":"","topic":"A15/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"61d417680c295b1c","type":"debug","z":"1597307a44f351df","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"fd31e5607180fb1a","type":"debug","z":"1597307a44f351df","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"4118914c0e1754fe","type":"function","z":"1597307a44f351df","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["5d292d5e1ae8a0e0"]]},{"id":"4832106596afd208","type":"debug","z":"1597307a44f351df","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"bdc83694aa883b57","type":"debug","z":"1597307a44f351df","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"3cf6fb7d15ae1732","type":"function","z":"1597307a44f351df","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"0faf39389386a1a7","type":"function","z":"1597307a44f351df","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["56cb789b12035a11","4118914c0e1754fe"]]},{"id":"56cb789b12035a11","type":"debug","z":"1597307a44f351df","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"22e715c579075747","type":"function","z":"1597307a44f351df","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["c852ca16081e5c7b"]]},{"id":"df61807d860bcdbd","type":"debug","z":"1597307a44f351df","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"31af0e36ed7359a8","type":"function","z":"1597307a44f351df","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["af9f3d8127b6a171"]]},{"id":"4c326ff64d9d3311","type":"debug","z":"1597307a44f351df","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"136a1b8787f969a1","type":"inject","z":"1597307a44f351df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A15/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["afb865bd81be0e86"]]},{"id":"afb865bd81be0e86","type":"function","z":"1597307a44f351df","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["22e715c579075747"]]},{"id":"510f8b9f439e2114","type":"inject","z":"1597307a44f351df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A15/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["0faf39389386a1a7"]]},{"id":"223cca1c7d4f200d","type":"function","z":"1597307a44f351df","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["31af0e36ed7359a8"]]},{"id":"bcde831b7d2dab33","type":"inject","z":"1597307a44f351df","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A15/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["223cca1c7d4f200d"]]},{"id":"5d292d5e1ae8a0e0","type":"MSSQL-UCGv2","z":"1597307a44f351df","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["4832106596afd208"]]},{"id":"c852ca16081e5c7b","type":"MSSQL-UCGv2","z":"1597307a44f351df","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["df61807d860bcdbd"]]},{"id":"af9f3d8127b6a171","type":"MSSQL-UCGv2","z":"1597307a44f351df","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["4c326ff64d9d3311"]]},{"id":"3262c185aaa512f3","type":"debug","z":"74a601364754c3b9","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"979eae7467d8a7c3","type":"mqtt in","z":"74a601364754c3b9","name":"","topic":"A16/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["4fd3cb7c96ddf849","701bdc34c57c5048","4950516855a37b61"]]},{"id":"4fd3cb7c96ddf849","type":"switch","z":"74a601364754c3b9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["e9df20bd1971150a"]]},{"id":"e9df20bd1971150a","type":"mqtt out","z":"74a601364754c3b9","name":"","topic":"A16/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"760b67cc4755444e","type":"mqtt in","z":"74a601364754c3b9","name":"return A16","topic":"A16/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["3262c185aaa512f3","eda1450338f919f3","4d750bb1fa043beb"]]},{"id":"3745ce3077de1a43","type":"mqtt in","z":"74a601364754c3b9","name":"finish A16","topic":"A16/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["1230d0c99344cacb","7697eb6d397a388a","eaccbac752407fdf"]]},{"id":"eda1450338f919f3","type":"change","z":"74a601364754c3b9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["e1c9e83dba46fcc2"]]},{"id":"e1c9e83dba46fcc2","type":"mqtt out","z":"74a601364754c3b9","name":"","topic":"A16/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"1230d0c99344cacb","type":"change","z":"74a601364754c3b9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["56617869729eee3d"]]},{"id":"56617869729eee3d","type":"mqtt out","z":"74a601364754c3b9","name":"","topic":"A16/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"7697eb6d397a388a","type":"debug","z":"74a601364754c3b9","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"701bdc34c57c5048","type":"debug","z":"74a601364754c3b9","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"8d45725d91166e42","type":"function","z":"74a601364754c3b9","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["0d22d77b9c13ae6a"]]},{"id":"afe34f8bd6d69574","type":"debug","z":"74a601364754c3b9","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"d2e978050abfa858","type":"debug","z":"74a601364754c3b9","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"5905d92a4fa4a1b4","type":"function","z":"74a601364754c3b9","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"4950516855a37b61","type":"function","z":"74a601364754c3b9","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["77b9be5b0e463d92","8d45725d91166e42"]]},{"id":"77b9be5b0e463d92","type":"debug","z":"74a601364754c3b9","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"914d571553ef59c3","type":"function","z":"74a601364754c3b9","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["1087e1f0379b8838"]]},{"id":"3c23e43535685c8d","type":"debug","z":"74a601364754c3b9","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"f04047bffc8fdadd","type":"function","z":"74a601364754c3b9","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["856ebc99c499f2d3"]]},{"id":"42d055169a348a0c","type":"debug","z":"74a601364754c3b9","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"7374c18554eaff20","type":"inject","z":"74a601364754c3b9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A16/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["4d750bb1fa043beb"]]},{"id":"4d750bb1fa043beb","type":"function","z":"74a601364754c3b9","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["914d571553ef59c3"]]},{"id":"51136ed66f9b0345","type":"inject","z":"74a601364754c3b9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A16/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["4950516855a37b61"]]},{"id":"eaccbac752407fdf","type":"function","z":"74a601364754c3b9","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["f04047bffc8fdadd"]]},{"id":"f14378106c737eb7","type":"inject","z":"74a601364754c3b9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A16/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["eaccbac752407fdf"]]},{"id":"0d22d77b9c13ae6a","type":"MSSQL-UCGv2","z":"74a601364754c3b9","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["afe34f8bd6d69574"]]},{"id":"1087e1f0379b8838","type":"MSSQL-UCGv2","z":"74a601364754c3b9","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["3c23e43535685c8d"]]},{"id":"856ebc99c499f2d3","type":"MSSQL-UCGv2","z":"74a601364754c3b9","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["42d055169a348a0c"]]},{"id":"9d85f34281d34743","type":"debug","z":"9e1b5b6bda85733b","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"797126d2d979fafa","type":"mqtt in","z":"9e1b5b6bda85733b","name":"","topic":"A17/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["443eac84acab0779","efdbee9e6de1b823","11d4b7093bc64bd0"]]},{"id":"443eac84acab0779","type":"switch","z":"9e1b5b6bda85733b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["45b9707eba94f40e"]]},{"id":"45b9707eba94f40e","type":"mqtt out","z":"9e1b5b6bda85733b","name":"","topic":"A17/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"8c18f8d938e0c4c4","type":"mqtt in","z":"9e1b5b6bda85733b","name":"return A17","topic":"A17/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["9d85f34281d34743","1dd702bdcf2c3930","251c304488526fb9"]]},{"id":"d745d33d88a3fec3","type":"mqtt in","z":"9e1b5b6bda85733b","name":"finish A17","topic":"A17/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["1a820c61a611f279","33d8a3c3320234f5","57a0e8684d9c5ffb"]]},{"id":"1dd702bdcf2c3930","type":"change","z":"9e1b5b6bda85733b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["7c326e99c60bb55f"]]},{"id":"7c326e99c60bb55f","type":"mqtt out","z":"9e1b5b6bda85733b","name":"","topic":"A17/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"1a820c61a611f279","type":"change","z":"9e1b5b6bda85733b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["b3324b8d02d557de"]]},{"id":"b3324b8d02d557de","type":"mqtt out","z":"9e1b5b6bda85733b","name":"","topic":"A17/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"33d8a3c3320234f5","type":"debug","z":"9e1b5b6bda85733b","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"efdbee9e6de1b823","type":"debug","z":"9e1b5b6bda85733b","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"00d17049c2939167","type":"function","z":"9e1b5b6bda85733b","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["3aaa0bdb3c7ecb11"]]},{"id":"e33f98d1b784cbd2","type":"debug","z":"9e1b5b6bda85733b","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"853b8a9663603510","type":"debug","z":"9e1b5b6bda85733b","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"0f2b71924a4cafe0","type":"function","z":"9e1b5b6bda85733b","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"11d4b7093bc64bd0","type":"function","z":"9e1b5b6bda85733b","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["fb6331c1aa0cdf67","00d17049c2939167"]]},{"id":"fb6331c1aa0cdf67","type":"debug","z":"9e1b5b6bda85733b","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"eba05a712fdfa512","type":"function","z":"9e1b5b6bda85733b","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["1fa2252cb7f8ed41"]]},{"id":"ca7d3e293d050d8d","type":"debug","z":"9e1b5b6bda85733b","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"38769a2f91783f70","type":"function","z":"9e1b5b6bda85733b","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["a111287cd4d31e59"]]},{"id":"bce9e4c0a9f19840","type":"debug","z":"9e1b5b6bda85733b","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"20f63eba759def8d","type":"inject","z":"9e1b5b6bda85733b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A17/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["251c304488526fb9"]]},{"id":"251c304488526fb9","type":"function","z":"9e1b5b6bda85733b","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["eba05a712fdfa512"]]},{"id":"29293d8138c553c6","type":"inject","z":"9e1b5b6bda85733b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A17/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["11d4b7093bc64bd0"]]},{"id":"57a0e8684d9c5ffb","type":"function","z":"9e1b5b6bda85733b","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["38769a2f91783f70"]]},{"id":"a0524382246d3022","type":"inject","z":"9e1b5b6bda85733b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A17/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["57a0e8684d9c5ffb"]]},{"id":"3aaa0bdb3c7ecb11","type":"MSSQL-UCGv2","z":"9e1b5b6bda85733b","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["e33f98d1b784cbd2"]]},{"id":"1fa2252cb7f8ed41","type":"MSSQL-UCGv2","z":"9e1b5b6bda85733b","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["ca7d3e293d050d8d"]]},{"id":"a111287cd4d31e59","type":"MSSQL-UCGv2","z":"9e1b5b6bda85733b","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["bce9e4c0a9f19840"]]},{"id":"48ad913ba35a9512","type":"debug","z":"f17aa22c51407219","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"78d26c95b2e3788a","type":"mqtt in","z":"f17aa22c51407219","name":"","topic":"A18/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["4ed424c49acee66a","943d65f98d6dfc8b","cc923d17da019b75"]]},{"id":"4ed424c49acee66a","type":"switch","z":"f17aa22c51407219","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["a03cf0e0acbbea15"]]},{"id":"a03cf0e0acbbea15","type":"mqtt out","z":"f17aa22c51407219","name":"","topic":"A18/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"6187aa73a00737e2","type":"mqtt in","z":"f17aa22c51407219","name":"return A18","topic":"A18/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["48ad913ba35a9512","467c9232c474d09b","770dc7491adc96ea"]]},{"id":"2acee5288b064333","type":"mqtt in","z":"f17aa22c51407219","name":"finish A18","topic":"A18/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["09ae9121c75a88a9","ecdd14d9467dc9ae","8874d62f1a1927a1"]]},{"id":"467c9232c474d09b","type":"change","z":"f17aa22c51407219","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["400fa09728c46bd7"]]},{"id":"400fa09728c46bd7","type":"mqtt out","z":"f17aa22c51407219","name":"","topic":"A18/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"09ae9121c75a88a9","type":"change","z":"f17aa22c51407219","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["88f7308b387eb8d1"]]},{"id":"88f7308b387eb8d1","type":"mqtt out","z":"f17aa22c51407219","name":"","topic":"A18/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"ecdd14d9467dc9ae","type":"debug","z":"f17aa22c51407219","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"943d65f98d6dfc8b","type":"debug","z":"f17aa22c51407219","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"eb96a481c5203759","type":"function","z":"f17aa22c51407219","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["122c9b1262e03e37"]]},{"id":"4150aaf010872268","type":"debug","z":"f17aa22c51407219","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"9825884b9534e14d","type":"debug","z":"f17aa22c51407219","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"4726a828d5eed46b","type":"function","z":"f17aa22c51407219","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"cc923d17da019b75","type":"function","z":"f17aa22c51407219","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["06c8b695f06e46d8","eb96a481c5203759"]]},{"id":"06c8b695f06e46d8","type":"debug","z":"f17aa22c51407219","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"070262515b0fe91e","type":"function","z":"f17aa22c51407219","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["2162bc5b50a0b9a4"]]},{"id":"8231e84cb98b5d0e","type":"debug","z":"f17aa22c51407219","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"5ea00735dbcc4637","type":"function","z":"f17aa22c51407219","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["910640b7ee3df18b"]]},{"id":"f4bdaa0f70db9352","type":"debug","z":"f17aa22c51407219","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"1082f96854380558","type":"inject","z":"f17aa22c51407219","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A18/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["770dc7491adc96ea"]]},{"id":"770dc7491adc96ea","type":"function","z":"f17aa22c51407219","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["070262515b0fe91e"]]},{"id":"2d6be831ed398216","type":"inject","z":"f17aa22c51407219","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A18/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["cc923d17da019b75"]]},{"id":"8874d62f1a1927a1","type":"function","z":"f17aa22c51407219","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["5ea00735dbcc4637"]]},{"id":"a3a48e0a39a4d60e","type":"inject","z":"f17aa22c51407219","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A18/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["8874d62f1a1927a1"]]},{"id":"122c9b1262e03e37","type":"MSSQL-UCGv2","z":"f17aa22c51407219","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["4150aaf010872268"]]},{"id":"2162bc5b50a0b9a4","type":"MSSQL-UCGv2","z":"f17aa22c51407219","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["8231e84cb98b5d0e"]]},{"id":"910640b7ee3df18b","type":"MSSQL-UCGv2","z":"f17aa22c51407219","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["f4bdaa0f70db9352"]]},{"id":"a344deb144cb9fc7","type":"debug","z":"9342557e527f8584","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"b4b74471a69994db","type":"mqtt in","z":"9342557e527f8584","name":"","topic":"A19/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["4f52b6be29412e3b","c8c0f954a450fdad","59574159b4e2e540"]]},{"id":"4f52b6be29412e3b","type":"switch","z":"9342557e527f8584","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["8026987da286987c"]]},{"id":"8026987da286987c","type":"mqtt out","z":"9342557e527f8584","name":"","topic":"A19/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"a2f8166cb797ef4f","type":"mqtt in","z":"9342557e527f8584","name":"return A19","topic":"A19/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["a344deb144cb9fc7","5220e5ca76403880","6bbeb4e2bcfea38f"]]},{"id":"626930aaa4e48cbd","type":"mqtt in","z":"9342557e527f8584","name":"finish A19","topic":"A19/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["c6d52d381eac87bb","5f7a3a2142c48b25","0b35368d4949a4a9"]]},{"id":"5220e5ca76403880","type":"change","z":"9342557e527f8584","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["1d7a6e554aaee23a"]]},{"id":"1d7a6e554aaee23a","type":"mqtt out","z":"9342557e527f8584","name":"","topic":"A19/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"c6d52d381eac87bb","type":"change","z":"9342557e527f8584","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["406d61e44c1eb126"]]},{"id":"406d61e44c1eb126","type":"mqtt out","z":"9342557e527f8584","name":"","topic":"A19/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"5f7a3a2142c48b25","type":"debug","z":"9342557e527f8584","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"c8c0f954a450fdad","type":"debug","z":"9342557e527f8584","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"cc33408b18883e38","type":"function","z":"9342557e527f8584","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["7b1320cbe4429540"]]},{"id":"c387ef8d0d2c51b5","type":"debug","z":"9342557e527f8584","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"684ed091b79ec4a6","type":"debug","z":"9342557e527f8584","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"bd8273accd8f2f56","type":"function","z":"9342557e527f8584","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"59574159b4e2e540","type":"function","z":"9342557e527f8584","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["e558e1afa150f56d","cc33408b18883e38"]]},{"id":"e558e1afa150f56d","type":"debug","z":"9342557e527f8584","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"e0732aa2fbc8d42e","type":"function","z":"9342557e527f8584","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["b0e455298785a63e"]]},{"id":"3ac16d22c43d7a46","type":"debug","z":"9342557e527f8584","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"1840363f42793e56","type":"function","z":"9342557e527f8584","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["ae71e1896cc8ebd7"]]},{"id":"2f94fbada7cd5e5e","type":"debug","z":"9342557e527f8584","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"ce32b5dba3a36e86","type":"inject","z":"9342557e527f8584","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A19/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["6bbeb4e2bcfea38f"]]},{"id":"6bbeb4e2bcfea38f","type":"function","z":"9342557e527f8584","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["e0732aa2fbc8d42e"]]},{"id":"9cf91b1dc88e1fcb","type":"inject","z":"9342557e527f8584","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A19/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["59574159b4e2e540"]]},{"id":"0b35368d4949a4a9","type":"function","z":"9342557e527f8584","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["1840363f42793e56"]]},{"id":"7591d436b5de8527","type":"inject","z":"9342557e527f8584","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A19/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["0b35368d4949a4a9"]]},{"id":"7b1320cbe4429540","type":"MSSQL-UCGv2","z":"9342557e527f8584","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["c387ef8d0d2c51b5"]]},{"id":"b0e455298785a63e","type":"MSSQL-UCGv2","z":"9342557e527f8584","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["3ac16d22c43d7a46"]]},{"id":"ae71e1896cc8ebd7","type":"MSSQL-UCGv2","z":"9342557e527f8584","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["2f94fbada7cd5e5e"]]},{"id":"1aebfee220d1863a","type":"debug","z":"766ee5f039c837c9","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"5d700e5ab2d57b34","type":"mqtt in","z":"766ee5f039c837c9","name":"","topic":"A20/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["aed350a817c326c2","718e0bc082976d5e","21613677b5099f9c"]]},{"id":"aed350a817c326c2","type":"switch","z":"766ee5f039c837c9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["7f3d97161862b1c7"]]},{"id":"7f3d97161862b1c7","type":"mqtt out","z":"766ee5f039c837c9","name":"","topic":"A20/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"669db39681ee9688","type":"mqtt in","z":"766ee5f039c837c9","name":"return A20","topic":"A20/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["1aebfee220d1863a","4b21328496b8fa7e","0ab831fd3b5f08d8"]]},{"id":"618be7571e9fdd85","type":"mqtt in","z":"766ee5f039c837c9","name":"finish A20","topic":"A20/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["33f5d9e3f8854b89","dc283667562a3c60","504ad912be12da0e"]]},{"id":"4b21328496b8fa7e","type":"change","z":"766ee5f039c837c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["52c181c489cc693a"]]},{"id":"52c181c489cc693a","type":"mqtt out","z":"766ee5f039c837c9","name":"","topic":"A20/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"33f5d9e3f8854b89","type":"change","z":"766ee5f039c837c9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["9bbb7f322c358f9f"]]},{"id":"9bbb7f322c358f9f","type":"mqtt out","z":"766ee5f039c837c9","name":"","topic":"A20/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"dc283667562a3c60","type":"debug","z":"766ee5f039c837c9","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"718e0bc082976d5e","type":"debug","z":"766ee5f039c837c9","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"762bce2c266c1380","type":"function","z":"766ee5f039c837c9","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["68683bc5853741f4"]]},{"id":"01a80322371a603e","type":"debug","z":"766ee5f039c837c9","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"f4f2cf1054f624d2","type":"debug","z":"766ee5f039c837c9","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"fa08770b99b79e19","type":"function","z":"766ee5f039c837c9","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"21613677b5099f9c","type":"function","z":"766ee5f039c837c9","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["4f54ffc49a76514c","762bce2c266c1380"]]},{"id":"4f54ffc49a76514c","type":"debug","z":"766ee5f039c837c9","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"2770d4c42cf54a19","type":"function","z":"766ee5f039c837c9","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["b0728aef10c9baa8"]]},{"id":"60a5375bc929f9b7","type":"debug","z":"766ee5f039c837c9","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"5b35257cf03c1441","type":"function","z":"766ee5f039c837c9","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["995eb294f30eee2f"]]},{"id":"a03dfe597b8977b0","type":"debug","z":"766ee5f039c837c9","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"59ac3acfe5d92093","type":"inject","z":"766ee5f039c837c9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A20/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["0ab831fd3b5f08d8"]]},{"id":"0ab831fd3b5f08d8","type":"function","z":"766ee5f039c837c9","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["2770d4c42cf54a19"]]},{"id":"bba3ea6b20d84d99","type":"inject","z":"766ee5f039c837c9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A20/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["21613677b5099f9c"]]},{"id":"504ad912be12da0e","type":"function","z":"766ee5f039c837c9","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["5b35257cf03c1441"]]},{"id":"b00772396e331969","type":"inject","z":"766ee5f039c837c9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A20/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["504ad912be12da0e"]]},{"id":"68683bc5853741f4","type":"MSSQL-UCGv2","z":"766ee5f039c837c9","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["01a80322371a603e"]]},{"id":"b0728aef10c9baa8","type":"MSSQL-UCGv2","z":"766ee5f039c837c9","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["60a5375bc929f9b7"]]},{"id":"995eb294f30eee2f","type":"MSSQL-UCGv2","z":"766ee5f039c837c9","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["a03dfe597b8977b0"]]},{"id":"5591bc94974efb63","type":"debug","z":"22bd1f97465d609d","name":"debug 56","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":260,"y":400,"wires":[]},{"id":"3a225bda635a7d27","type":"mqtt in","z":"22bd1f97465d609d","name":"","topic":"A21/checkstatus","qos":"2","datatype":"auto-detect","broker":"5d745a45.6fecd4","nl":false,"rap":true,"rh":0,"inputs":0,"x":280,"y":320,"wires":[["5761f05314557e56","9c38f08aee240cc0","848b3221c0831e92"]]},{"id":"5761f05314557e56","type":"switch","z":"22bd1f97465d609d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":360,"wires":[["2f2ba0c2922be010"]]},{"id":"2f2ba0c2922be010","type":"mqtt out","z":"22bd1f97465d609d","name":"","topic":"A21/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":810,"y":400,"wires":[]},{"id":"61c04785a005e616","type":"mqtt in","z":"22bd1f97465d609d","name":"return A21","topic":"A21/10","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":240,"y":460,"wires":[["5591bc94974efb63","0a96a9585ee9b184","bf37419bc733b990"]]},{"id":"52a79f65abeb4868","type":"mqtt in","z":"22bd1f97465d609d","name":"finish A21","topic":"A21/11","qos":"2","datatype":"auto","broker":"5d745a45.6fecd4","nl":false,"rap":false,"inputs":0,"x":160,"y":520,"wires":[["7c61b698664804df","798528cef9d494c7","516c191b03798310"]]},{"id":"0a96a9585ee9b184","type":"change","z":"22bd1f97465d609d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":460,"wires":[["823a4e73cc409a75"]]},{"id":"823a4e73cc409a75","type":"mqtt out","z":"22bd1f97465d609d","name":"","topic":"A21/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":460,"wires":[]},{"id":"7c61b698664804df","type":"change","z":"22bd1f97465d609d","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["4437e6fd917c14eb"]]},{"id":"4437e6fd917c14eb","type":"mqtt out","z":"22bd1f97465d609d","name":"","topic":"A21/material","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"5d745a45.6fecd4","x":770,"y":520,"wires":[]},{"id":"798528cef9d494c7","type":"debug","z":"22bd1f97465d609d","name":"debug 57","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":140,"y":600,"wires":[]},{"id":"9c38f08aee240cc0","type":"debug","z":"22bd1f97465d609d","name":"debug 58","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":300,"y":200,"wires":[]},{"id":"4a86f3cbc1f0c9f0","type":"function","z":"22bd1f97465d609d","name":"function 4","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"select top 1 serial_no from app_machine_control_checksize where machine_no = '\"+testMC+\"' order by registered_at desc\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":300,"wires":[["de91092176db1cca"]]},{"id":"95f50ab797a79ff3","type":"debug","z":"22bd1f97465d609d","name":"debug 59","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":320,"wires":[]},{"id":"cc1751aee0758332","type":"debug","z":"22bd1f97465d609d","name":"debug 60","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":200,"wires":[]},{"id":"a9115aaa3ca01972","type":"function","z":"22bd1f97465d609d","name":"function 5","func":"msg.payload = msg.topic\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":260,"wires":[[]]},{"id":"848b3221c0831e92","type":"function","z":"22bd1f97465d609d","name":"function 6","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":200,"wires":[["2b3260411df572b8","4a86f3cbc1f0c9f0"]]},{"id":"2b3260411df572b8","type":"debug","z":"22bd1f97465d609d","name":"debug 61","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":140,"wires":[]},{"id":"76ddb8d20a0806ab","type":"function","z":"22bd1f97465d609d","name":"function 7","func":"var testMC = global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'returned' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC + \"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["c2451e0d9b1bcd2d"]]},{"id":"97be877574b05f35","type":"debug","z":"22bd1f97465d609d","name":"debug 62","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":580,"wires":[]},{"id":"dd506a3f84784659","type":"function","z":"22bd1f97465d609d","name":"function 8","func":"var testMC =global.get(\"machineNo\")\nmsg.payload = \"update app_machine_control_stock set status = 'finish' from(select top (1) * from app_machine_control_checksize where machine_no = '\" + testMC +\"' order by registered_at desc) as OtherTable where OtherTable.serial_no = app_machine_control_stock.serial_no and app_machine_control_stock.status = 'new' or app_machine_control_stock.status = 'returned'\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":680,"wires":[["1bc057796f3959a3"]]},{"id":"7c769e9f87f93fd6","type":"debug","z":"22bd1f97465d609d","name":"debug 63","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":680,"wires":[]},{"id":"a9bc5d3b830615f3","type":"inject","z":"22bd1f97465d609d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A21/10","payload":"","payloadType":"str","x":170,"y":700,"wires":[["bf37419bc733b990"]]},{"id":"bf37419bc733b990","type":"function","z":"22bd1f97465d609d","name":"function 9","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":580,"wires":[["76ddb8d20a0806ab"]]},{"id":"31ca94caa2cb8611","type":"inject","z":"22bd1f97465d609d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A21/checkstatus","payload":"","payloadType":"str","x":180,"y":260,"wires":[["848b3221c0831e92"]]},{"id":"516c191b03798310","type":"function","z":"22bd1f97465d609d","name":"function 10","func":"var mc_no = msg.topic.split('/')[0];\nglobal.set(\"machineNo\", mc_no);\nmsg.payload = mc_no;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":720,"wires":[["dd506a3f84784659"]]},{"id":"b4da809934f6ca4d","type":"inject","z":"22bd1f97465d609d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"A21/11","payload":"","payloadType":"str","x":110,"y":880,"wires":[["516c191b03798310"]]},{"id":"de91092176db1cca","type":"MSSQL-UCGv2","z":"22bd1f97465d609d","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":900,"y":340,"wires":[["95f50ab797a79ff3"]]},{"id":"c2451e0d9b1bcd2d","type":"MSSQL-UCGv2","z":"22bd1f97465d609d","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":920,"y":580,"wires":[["97be877574b05f35"]]},{"id":"1bc057796f3959a3","type":"MSSQL-UCGv2","z":"22bd1f97465d609d","mssqlCN":"f7417a6c7b36e27d","name":"","query":"","outField":"payload","x":840,"y":680,"wires":[["7c769e9f87f93fd6"]]}]